/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/06/2022, 09:27:26 PM
    Author     : adria
*/

body
{
    background-color: #ECF0F1;
 }

h1{
     color: #17202A;
     text-align: center;
}

#tabla {
   margin: 0 auto;   
}
table 
{
    margin: 0 auto;
    border: 1px solid #000;
}


th
{
    background: #808080;
    color:white;
}
 td {
   width: 15%;
   text-align: center;
   border: 0.5px solid #000;
   padding: 0.3em;
 }
